<div class="jumbotron mt-4">
    <h1 class="display-3">Notes App con NodeJs y MongoDB</h1>
    <p class="lead">Pequeña Aplicación que permite realizar CRUD de notas a una Base de Datos MongoDB,
        la parte del FrontEnd está desarrollada con Handlebars </p>
    <hr class="my-4">
    <p>Si quieres ver un poco de lo que hago, aquí tienes un enlace a mi Portfolio</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Ir a portfolio</a>
    </p>
</div>